{% extends "layout.html" %}
  {% block body %}
    <div class="bodycontainer">
      <div class=bodydata>
          <div class="alert alert-warning text_center" id=alert style="display:none">
              No Results found for your search!
          </div>
          <div id="h1">
            <h1>{{h1['Name']}}</h1>
            <p>{{h1['ZIP']}}</p>
          </div>
          <div id="h2" class="cards">
            {% for k, v in h2.items() %}
              <div class="card" id="card">
                <div class="card_upper">{{k}}</div>
                <div class="card_lower">{{v}}</div>
              </div>
            {% endfor %}
        </div>
      </div>
      {% include "map_general.html" %}
  </div>
  {% endblock body %}
