{% extends "layout.html" %}
  {% block body %}
    <div class="bodycontainer">
      <div class=bodydata>
          <div class="alert alert-warning text_center" id=alert style="display:none">
              No Results found for your search!
          </div>
          <div id="h1">
            <h1>{{ address['street'] }}</h1>
            <p>{{ address['postal_code']}}  {{address['city_name']}}</p>
          </div>
          <div id="h2" class="cards">
            {% for k, v in h2.items() %}
              <div class="card" id="card">
                <div class="card_upper">{{k}}</div>
                <div class="card_lower">{{v}}</div>
              </div>
            {% endfor %}
        </div>
      </div>
      {{ html_map | safe }}
  </div>
<script src="{{ url_for('static', filename='ajax.js') }}"></script>
<script type="text/javascript">
    var features = JSON.parse('{{hits|tojson}}');
    document.write(features[0]);
</script>
  {% endblock body %}
